<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>
        <ul>
        {% for game in games %}
            <li><a href="{{ game.sanitizedName }}.html">{{ game.name }}</a></li>
        {% endfor %}
        </ul>

    </body>
</html>
