<!DOCTYPE html>
<html>
    <head>
        <title>Retro Games</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body>
        {% for system in systems %}
        <p>
            <a href="{{ system.id }}/index.html">
                <img class="system-logo" src="{{ system.logo }}" alt="{{ system.name }}"/>
            </a>
        </p>
        {% endfor %}
    </body>
</html>
