<!DOCTYPE html>
<html>
    <head>
        <title>Retro Games</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body>
        <ul>
        {% for system in systems %}
            <li><a href="{{ system.name }}/index.html">{{ system.name }}</a></li>
        {% endfor %}
        </ul>
    </body>
</html>
