html, body {
    background: #eee;
}

.system-logo {
    width: 100%;
}

.system-row {
    border-bottom: solid 1px #666;
    padding: 1em 2em;
}

h1 {
    padding: 1em 2em;
}

.list {
    width: 100%;
}

.list-row:nth-child(even) {
    background: #ddd;
}

.list-column {

}

.list-column--thumbnail {
    text-align: center;
}
.list-column--full {
    width: 100%;
}

.list-thumbnail {
    max-height: 100px;
}

.game-title {
    padding: 1em 0.2em;
    text-align:  center;
}

.game-media {
    width: 50%;
}

.game-image {
    width: 100%;
}

.game-video {
    width: 100%;
}
