html, body {
    background: #eee;
}

.system-logo {
    width: 100%;
}

.system-row {
    border-bottom: solid 1px #666;
}

.list-column {

}

.list-column--thumbnail {
    text-align: center;
}
.list-column--full {
    width: width: 100%;
}

.list-thumbnail {
    max-height: 100px;
}
